rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /stripe_connect_customers/{uid} {
      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read, list: if request.auth.uid == uid;
      }
    }

    match /stripe_customers/{uid} {
      allow read: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read, list: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /stripe_accounts/{uid} {
        allow read: if request.auth.uid == uid;
    }

    match /stripe_products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }

    match /chatbot_configs/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    match /chats/{chatid} {
      allow read: if request.auth.uid == resource.data.uid || request.auth.uid == resource.data.chatBotConfigId;
        match /messages/{messageid} {
          allow read: if request.auth.uid == get(/databases/$(database)/documents/chats/$(chatid)).data.uid ||
                        request.auth.uid == get(/databases/$(database)/documents/chats/$(chatid)).data.chatBotConfigId;
        }
    }

    match /app_versions/{version} {
      allow read: if true;
    }
  }
}
